h1{
font-size: 30px;
text-align: center;
color: #ff055d
}

h2{
font-size: 15px;
text-align: left;
color: #000e74
}

p{
font-size: 14px;
text-align: left;
font-family: Arial, sans-serif;
}

body {
margin: 10;
transition: opacity ease-in 0.2s;
display: block;
font-family: fontPrimary,arial-rfb,sans-serif;
font-size: 14px;
text-align: left;
line-height: 19px;
color: #333;
-webkit-font-smoothing: antialiased;
background-color: #00000;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

